@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

:root {
    --primary: #c0c0c0;
    --secondary: #000000;
}

body {
    font-family: 'Open Sans';
    overflow: hidden;
    background: linear-gradient(135deg, var(--primary), var(--secondary));

    z-index: -10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Belt base styles **/
.belt {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;

    background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary), var(--secondary));
    background-size: 300% 100%;

    animation-name: animateBackground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -o-animation-name: animateBackground;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;

    -moz-animation-name: animateBackground;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -webkit-animation-name: animateBackground;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/** Belt animation styles **/
.normal {
    animation-direction: normal;
    -o-animation-direction: normal;
    -moz-animation-direction: normal;
    -webkit-animation-direction: normal;
}

.reverse {
    animation-direction: reverse;
    -o-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -webkit-animation-direction: reverse;
}

/** Triangular belt styles **/
.belt.triangular {
    mask-image: repeating-conic-gradient(from 30deg, black 0% 60deg, transparent 0% 120deg);
    mask-size: 60px 104px;
}

.belt.triangular.reverse {
    mask-image: repeating-conic-gradient(from 30deg, transparent 0% 60deg, black 0% 120deg);
    mask-size: 60px 104px;
}

/** Adjacent cube styles **/
.belt.adjacent-cube {
    mask-image: linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, rgba(0, 0, 0, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5)), linear-gradient(60deg, rgba(0, 0, 0, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5));
    mask-size: 60px 105px;
    mask-position: 0 0, 0 0, 30px 52.5px, 30px 52.5px, 0 0, 30px 52.5px;
}

/** Diagonal stripe styles **/
.belt.diagonal-stripe {
    mask-image: repeating-linear-gradient(45deg, transparent, transparent 40px, #000000 40px, #000000 80px);
}

.belt.diagonal-stripe.reverse {
    mask-image: repeating-linear-gradient(45deg, black, black 40px, transparent 40px, transparent 80px);
}

/** Darkening layer styles **/
.darkener {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
}

/** Animation keyframes **/
@keyframes animateBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-o-keyframes animateBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-moz-keyframes animateBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-webkit-keyframes animateBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/** About section styles **/
.about {
    display: grid;
    box-sizing: border-box;
    width: 600px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;

    z-index: 1;

    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    gap: 5px 0px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
      "picture name"
      "links links";
}

.about .picture {
    grid-area: picture;

    height: calc(100%);
    width: calc(100%);
    border-radius: inherit;
}
  
.about .name {
    grid-area: name;

    color: #ffffff;
    font-size: xx-large;
    text-align: center;
}

.about .links {
    grid-area: links;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about .links .link .link-icon {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 0 2px 0 2px;
    text-align: center;

    background-color: #dddddd;
    mask-size: 100%;
    mask-image: url(/icons/link.svg);
    transition: 0.3s;
}

.about .links .link {
    display: flex;
    flex-direction: row;
}

.about .links .link:hover .link-icon {
    background-color: #ffffff;
}

/** Small screens **/
@media (max-device-width: 600px) {
    .about {
        width: 90%;
    }

    .about .links .link .link-text {
        display: flex;
    }
}